@import "mixins";
@import "variables";

.excel__toolbar{
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  position: absolute;
  padding: 7px 10px;
  display: flex;

  .button{
    @include button();
  }


}